<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userRole">
            <h2><span jhiTranslate="instantHelpFinderApp.userRole.detail.title">User Role</span> {{ userRole.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="instantHelpFinderApp.userRole.availability">Availability</span></dt>
                <dd>
                    <span>{{ userRole.availability }}</span>
                </dd>
                <dt><span jhiTranslate="instantHelpFinderApp.userRole.pushSubscription">Push Subscription</span></dt>
                <dd>
                    <div *ngIf="userRole.pushSubscription">
                        <a [routerLink]="['/push-subscription', userRole.pushSubscription?.id, 'view']">{{ userRole.pushSubscription?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-role', userRole.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
