<div class="container">
    <div class="row">
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="turningEvents?.length === 0">
        <span jhiTranslate="instantHelpFinderApp.turningEvent.home.notFound">No turningEvents found</span>
    </div>
    </div>
    <div class="row d-flex justify-content-center" >
        <ul class="nav nav-pills m-2 d-md-none" >
            <li class="nav-item">
                <a class="nav-link" [class.active]="tabToggle" (click)="tabToggleTrue()">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  [class.active]="!tabToggle" (click)="tabToggleFalse()">Inbox</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col" [class.d-none]="!tabToggle" [class.d-md-block]="!tabToggle">
            <h5>  Schedule <fa-icon [icon]="InboxIcon" fixedWidth="true" class="ml-2"></fa-icon> </h5>
            <div class="card">
                <div class="list-group list-group-flush">
                    <a *ngFor="let turningEvent of turningEvents ;trackBy: trackId" class="list-group-item list-group-item-action flex-column align-items-start" [routerLink]="['/turning-event', turningEvent.id, 'view']">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">18:20 - 18:30</h5>
                            <small><span class="badge badge-pill badge-success">0</span></small>
                        </div>
                        <p class="mb-1">Bed: 489, Ward: {{ turningEvent.ward }}, Room: {{ turningEvent.roomNr }}</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col"  [class.d-none]="tabToggle" [class.d-md-block]="tabToggle">
            <h5>Inbox <fa-icon [icon]="InboxIcon" fixedWidth="true" class="ml-2"></fa-icon></h5>

            <div class="accordion" id="accordionExample">

                <div *ngFor="let turningEvent of turningEvents ;trackBy: trackId"  class="card">
                    <div class="card-header" [id]="'heading' + turningEvent.id">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + turningEvent.id" aria-expanded="true" [attr.aria-controls]="'collapse' + turningEvent.id">
                                Collapsible Group Item #1
                            </button>
                        </h2>
                    </div>
                    <div [id]="'collapse' + turningEvent.id" class="collapse show" [attr.aria-labelledby]="'heading' + turningEvent.id" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. {{turningEvent.id}}
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
