<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-turning-event-heading" >Create Turning Event</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="instantHelpFinderApp.turningEvent.patientName" for="field_patientName">Patient Name</label>
                    <input type="text" class="form-control" name="patientName" id="field_patientName"
                           formControlName="patientName"/>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="instantHelpFinderApp.turningEvent.ward" for="field_ward">Ward</label>
                        <input type="text" class="form-control" name="ward" id="field_ward"
                            formControlName="ward"/>
                     </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="instantHelpFinderApp.turningEvent.roomNr" for="field_roomNr">Room Nr</label>
                        <input type="text" class="form-control" name="roomNr" id="field_roomNr"
                            formControlName="roomNr"/>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="instantHelpFinderApp.turningEvent.priority" for="field_priority">Priority</label>
                        <select class="form-control" name="priority" formControlName="priority" id="field_priority">
                            <option value="LOW">{{ 'instantHelpFinderApp.EPriority.LOW' | translate }}</option>
                            <option value="HIGH">{{ 'instantHelpFinderApp.EPriority.HIGH' | translate }}</option>
                            <option value="URGENT">{{ 'instantHelpFinderApp.EPriority.URGENT' | translate }}</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="preferredTime">Prefered Time for Turning</label>
                        <div class="ngx-timepicker-field-example">
                            <ngx-timepicker-field [format]="24" [defaultTime]="'23:11'" id="preferredTime" formControlName="preferredTimeCtrl"></ngx-timepicker-field>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="list-group list-group-horizontal-md">
                        <button type="button" class="list-group-item list-group-item-action col-md-2" [class.active] = "timeConditions[0]" (click)="ChooseTime1()">{{date.getHours() + ':' + ('0' + date.getMinutes()).slice(-2)}}</button>
                        <button type="button" class="list-group-item list-group-item-action col-md-2" [class.active] = "timeConditions[1]" (click)="ChooseTime2()">{{date.getHours() + ':' + ('0' + date.getMinutes()).slice(-2)}}</button>
                        <button type="button" class="list-group-item list-group-item-action col-md-2" [class.active] = "timeConditions[2]" (click)="ChooseTime3()">{{date.getHours() + ':' + ('0' + date.getMinutes()).slice(-2)}}</button>
                        <button type="button" class="list-group-item list-group-item-action col-md-2" [class.active] = "timeConditions[3]" (click)="ChooseTime4()">{{date.getHours() + ':' + ('0' + date.getMinutes()).slice(-2)}}</button>
                        <button type="button" class="list-group-item list-group-item-action col-md-2" [class.active] = "timeConditions[4]" (click)="ChooseTime5()">{{date.getHours() + ':' + ('0' + date.getMinutes()).slice(-2)}}</button>
                        <button type="button" class="list-group-item list-group-item-action col-md-2" [class.active] = "timeConditions[5]" (click)="ChooseTime6()">{{date.getHours() + ':' + ('0' + date.getMinutes()).slice(-2)}}</button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label"  for="field_patientData">Comment</label>
                    <textarea class="form-control" name="patientData" id="field_patientData" rows="3"></textarea>
                </div>
                 <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>

                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                        <span >Send</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
