<div>
    <h2 id="page-heading">
        <span jhiTranslate="instantHelpFinderApp.turningEvent.home.title">Turning Events</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="turningEvents?.length === 0">
        <span jhiTranslate="instantHelpFinderApp.turningEvent.home.notFound">No turningEvents found</span>
    </div>

    <ul class="nav nav-pills m-2">
        <li class="nav-item">
            <a class="nav-link" [class.active] = "tabToggle" (click)="tabToggleTrue()">Your Tasks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  [class.active] = "!tabToggle" (click)="tabToggleFalse()">Open Tasks</a>
        </li>
    </ul>

    <div class="list-group">
        <a *ngFor="let turningEvent of turningEvents ;trackBy: trackId" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">18:20 - 18:30</h5>
                <small><span class="badge badge-success">Enough people</span> Ward: {{ turningEvent.ward }}, Room: {{ turningEvent.roomNr }}</small>
            </div>
            <p class="mb-1"><strong>Patient name: {{ turningEvent.patientName }}</strong></p>
            <p class="mb-1">Hier kann man noch zusätzliche wichtige Informationen nennen.</p>
            <p class="mb-1"><small>Doctor: {{ turningEvent.doctor?.user.firstName + ' ' + turningEvent.doctor?.user.lastName}}</small></p>
            <p class="mb-1"><small>Assistance: <span *ngFor="let assistants of turningEvent.assistants; let last = last">
                            {{ assistants.user.firstName + ' ' +  assistants.user.lastName}}{{ last ? '' : ', ' }}
                        </span></small></p>
            <div class="btn-group float-right">
                <button type="submit"
                        [routerLink]="['/turning-event', turningEvent.id, 'edit']"
                        class="btn btn-primary btn-sm">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button type="submit" (click)="delete(turningEvent)"
                        class="btn btn-danger btn-sm">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
            </div>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">18:50 - 19:10</h5>
                <small><span class="badge badge-danger">1 more person needed</span> Ward: A, Room: 230</small>
            </div>
            <p class="mb-1"><strong>Patient name: Christoph Kramer</strong></p>
            <p class="mb-1">Hier kann man noch zusätzliche wichtige Informationen nennen.</p>
            <p class="mb-1"><small>Doctor: Frank Walter</small></p>
            <p class="mb-1"><small>Assistance: Ute Hahn</small></p>
        </a>
    </div>
</div>
