<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-push-subscription-heading" jhiTranslate="instantHelpFinderApp.pushSubscription.home.createOrEditLabel">Create or edit a Push Subscription</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="instantHelpFinderApp.pushSubscription.endpoint" for="field_endpoint">Endpoint</label>
                    <input type="text" class="form-control" name="endpoint" id="field_endpoint"
                           formControlName="endpoint"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="instantHelpFinderApp.pushSubscription.auth" for="field_auth">Auth</label>
                    <input type="text" class="form-control" name="auth" id="field_auth"
                           formControlName="auth"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="instantHelpFinderApp.pushSubscription.p256dh" for="field_p256dh">P 256 Dh</label>
                    <input type="text" class="form-control" name="p256dh" id="field_p256dh"
                           formControlName="p256dh"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
