<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-request-heading" jhiTranslate="instantHelpFinderApp.request.home.createOrEditLabel">Create or edit a Request</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="instantHelpFinderApp.request.location" for="field_location">Location</label>
                    <input type="text" class="form-control" name="location" id="field_location"
                           formControlName="location"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="instantHelpFinderApp.request.doctor" for="field_doctor">Doctor</label>
                    <select class="form-control" id="field_doctor" name="doctor" formControlName="doctor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="doctorOption.id === editForm.get('doctor')!.value?.id ? editForm.get('doctor')!.value : doctorOption" *ngFor="let doctorOption of doctors; trackBy: trackById">{{ doctorOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="instantHelpFinderApp.request.icuNurse" for="field_icuNurse">Icu Nurse</label>
                    <select class="form-control" id="field_icuNurse" name="icuNurse" formControlName="icuNurse">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="iCUNurseOption.id === editForm.get('icuNurse')!.value?.id ? editForm.get('icuNurse')!.value : iCUNurseOption" *ngFor="let iCUNurseOption of icunurses; trackBy: trackById">{{ iCUNurseOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="instantHelpFinderApp.request.assistants" for="field_assistants">Assistants</label>
                    <select class="form-control" id="field_assistants" multiple name="assistants" formControlName="assistants">
                        <option [ngValue]="getSelected(editForm.get('assistants')!.value, assistantOption)" *ngFor="let assistantOption of assistants; trackBy: trackById">{{ assistantOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
